body {
    background-color: #540863;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    width: 600px;
    height: 800px;
    background-color: #92487A;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 25px;
    box-sizing: border-box;
}

#calculator #screen {
    width: 500px;
    height: 150px;
    background-color: #FFD3D5;
    border: 2px solid black;
    border-radius: 20px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
    overflow-x: auto;
    padding: 0 20px 0 0;
}

#calculator #keypad {
    width: 500px;
    height: 500px;
    background-color: #FFD3D5;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    box-sizing: border-box;
}

#keypad #special-keys {
    height: 100px;
    width: 500px;
    border: 1px solid black;
    border-radius: 20px;
    box-sizing: border-box;
}

#keypad #numbers-and-operators {
    width: 500px;
    height: 400px;
    display: flex;
}

#keypad #numbers {
    width: 375px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0 15px;
    border: 1px solid black;
    border-radius: 20px;
    box-sizing: border-box;
}

#keypad #numbers button {
    width: 100px;
    height: 70px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 50px;
    background-color: #E49BA6;
    border: none;
}

#keypad #operators {
    width: 125px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: 1px solid black;
    border-radius: 20px;
    box-sizing: border-box;
}

#keypad #operators button {
    width: 90px;
    height: 60px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    background-color: #E49BA6;
    border: none;
}

#keypad #special-keys {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

#keypad #special-keys button {
    width: 140px;
    height: 60px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    background-color: #E49BA6;
    border: none;
}